@model MichaelScottsPaperCompany.DATA.EF.Models.Category

@{
    ViewData["Title"] = "Category Details";
}

<h1 class="p-3">Category Details</h1>

<div class="row m-3 d-flex justify-content-center">
<div class="card border-primary mb3 text-center" style="width: 25rem">
    @*<h4>Category</h4>
    <hr />*@
    <dl>
        <div class="card-body">
            <dt class="card-header fs-4">
                @Html.DisplayNameFor(model => model.CategoryName)
            </dt>
            <dd class="card-text">
                @Html.DisplayFor(model => model.CategoryName)
            </dd>
            <dt class="card-header fs-4">
                @Html.DisplayNameFor(model => model.CategoryDescription)
            </dt>
            <dd class="card-text">
                @Html.DisplayFor(model => model.CategoryDescription)
            </dd>
        </div>
    </dl>
            <p>
            <a asp-action="Edit" asp-route-id="@Model?.CategoryId" class="btn btn-primary">Edit</a>
            <a asp-action="Index" class="btn btn-secondary">Cancel</a>
            </p>
</div>
</div>
